.activity__button-title {
  color: var(--foreground-text);
  text-align: center;
  margin-bottom: 0.5rem;
}

.activity__button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.activity__button-group label {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: $border-radius-button;
  align-items: center;
  flex: 1;
}

.activity__button-group p {
  color: var(--foreground-text);
  font-weight: bold;
}

// @media screen and (min-width: 532px) {
//   .activity__button-group label:not(:last-child) {
//   }
// }
// @media screen and (max-width: 532px) {
//   .activity__button-group {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     grid-template-rows: repeat(2, auto);
//   }
// }

.activity__button-group input {
  display: none;
}

.activity__button-group button:last-child {
  margin-right: 0;
}

#label-button-upper {
  @include activity($upper-color);
}

#button-upper:checked ~ #label-button-upper {
  background-color: $upper-active;
}

#button-upper:checked {
  background-color: $upper-active;
}

#button-lower:checked {
  background-color: $lower-active;
}

#button-core:checked {
  background-color: $core-active;
}

#button-cardio:checked {
  background-color: $cardio-active;
}

#label-button-lower {
  @include activity($lower-color);
}

#button-lower:checked ~ #label-button-lower {
  background-color: $lower-active;
}

#label-button-core {
  @include activity($core-color);
}

#button-core:checked ~ #label-button-core {
  background-color: $core-active;
}

#label-button-cardio {
  @include activity($cardio-color);
  margin-right: 0;
}

#button-cardio:checked ~ #label-button-cardio {
  background-color: $cardio-active;
}

.activity__button-image {
  width: $image-width;
}
