.link-button {
  .link-button__image {
    width: $image-width;
  }

  .link-button__icon {
    width: $image-width;
  }
}

.button {
  .button__image {
    width: $image-width;
  }

  .button__icon {
    width: $image-width;
  }

  .button__text {
    color: var(--bg-main) !important;
  }
}
