.card {
  @include standard-border;
  @include standard-border-radius;
  @include standard-padding;
  background-color: var(--background-card);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;

  hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: var(--foreground-prim);
    border-style: solid none;
    border-width: 1px 0;
    margin: 1rem 0;
  }
}

.clickable.card {
  @include empty-base-color;
}

.card__no-border {
  border: none !important;
  box-shadow: none;
  background-color: var(--background-card);
}

.card__header {
  background-color: none;
  border-bottom: none;
  padding: 0rem;
  color: var(--foreground-text);
}

.card__title {
  color: var(--foreground-text);
}

.card__subtitle {
  margin-top: 0;
  color: var(--foreground-mute);
  font-weight: $font-norm;
}

.card__body {
  flex: 1 1 auto;
  padding: 0rem;
  box-sizing: border-box;
}

.card__image-body__header {
  display: flex;
}

.card__image-body__image {
  @include standard-image;
  //height: 50px;
}

.card__image-body {
  box-sizing: border-box;
}

.card__text {
}

.stretch-card {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}
