.card {
  @include standard-border;
}

.card-header {
  background-color: inherit;
  border-bottom: none;
}

.card-bar {
  margin: 1rem 0;
  height: 2px !important;
  color: var(--fg-base);
  border: none;
}

.card-title {
}

.card-subtitle {
}

.card-body {
}

.card-image-body__header {
  display: flex;
}

.card-image-body__image {
  @include standard-image;
  //height: 50px;
}

.card-image-body {
  box-sizing: border-box;
}

.card-text {
}
