.form {
}

.form-label {
}

.form-control {
  height: $line-height;
  border: $border;
  border-radius: 1rem;
  background-color: var(--background-form) !important;
  color: var(--foreground-text) !important;
}
