.form {
}

.form-label {
}

.form-control {
  height: $line-height;
  border: 1px solid #dadce0;
  border-radius: 1rem;
  background-color: var(--bg-level-0) !important;
  color: var(--fg-level-0) !important;
}
