.page-navbar {
  z-index: 1;
  position: fixed;
  left: 0px;
  right: 0px;
  background-color: var(--bg-card);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0.5rem 0 0;
  align-items: center;
  color: var(--fg-main);
}

.navbar-items {
  display: flex;
  flex-direction: row;
}

.navbar-item {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  align-items: center;
  height: 100%;
  margin-right: 1rem;
  color: var(--fg-camain);
  text-decoration: none !important;
}

.navbar-item:hover {
  color: var(--fg-main);
}

.navbar-item:last-child {
  margin-right: 0;
}

.navbar-items a:hover {
  border-bottom: 1px solid rgba(var(--fg-acce-rgb), 0.4) !important;
  color: var(--fg-acce);
}

.navbar-item__active {
  border-bottom: 1px solid var(--fg-acce);
  color: var(--fg-acce);
}

.full-text,
.short-text {
  border-radius: $border-radius-button;
  margin: 0.25rem;
  color: var(--fg-main);
  padding: 0.25rem 0.5rem;
}

.navbar-item__header {
  text-decoration: none !important;
  font-weight: 400;
  margin-top: 1px;
  margin-left: 0.5rem;
}

@media screen and (min-width: 766px) {
  .short-text {
    display: none;
  }
}

@media screen and (max-width: 765px) {
  .full-text {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .navbar-item {
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar-item__header {
    margin: 0;
    font-size: smaller;
  }
}

@media screen and (min-width: 432px) {
  .page-navbar {
    top: 0px;
  }
}

@media screen and (max-width: 431px) {
  .page-navbar {
    bottom: 0px;
  }

  .full-text {
    display: none;
  }
  .navbar-items {
    height: 100%;
  }

  .navbar-item__icon-container {
    padding: 0.75rem;
  }

  .navbar-item__header {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .navbar-item__icon-container {
    padding: 0.5rem 0.25rem;
  }
  .navbar-item {
    margin-right: 0.25rem;
  }
}
