.stats-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
}

.stats-card {
  background-color: var(--ac-faded);
  color: var(--fg-level-0);

  border-radius: $border-radius-button;
  padding: 1rem;
}

.stats-border {
  @include standard-border;
}

.stats-card__number {
  color: var(--ac-primary);
  font-size: 26px;
  font-weight: 500;
}

.stats-card__name {
  color: var(--fg-level-0);
}

.stats-card__subtitle {
  color: var(--fg-mute);
}

@media screen and (max-width: 400px) {
  .stats-container {
    gap: 0.5rem;
  }
  .stats-card__number {
    font-weight: 500;
    font-size: x-large;
  }
}
