.stats-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 400px) {
  .stats-container {
    gap: 0.5rem;
  }
}
