.basic-button {
  @include default-button;
  flex-direction: column;
  padding: 1rem 1rem;
  gap: 0.5rem;
  min-height: $line-height;
  color: var(--foreground-prim);
  border: 1px solid var(--background-prim);

  &:hover {
    border: 1px solid var(--foreground-prim);
  }

  &:active {
    background-color: var(--foreground-prim);
    color: var(--background-body);
  }
}
