.workout-sets__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.workout-sets__cards {
}

.workout-sets__body {
}

.workout-sets__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  .workout-sets__header-text {
  }
  .workout-sets__header-title {
  }
  .workout-sets__header-type {
    font-weight: $font-slim;
  }
}
.workout-sets__header-button {
  margin-top: 1rem;
  width: 100%;
}

.workout-sets-repetitions {
}

.workout-sets-repetitions__buttons-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-column-gap: 1rem;
}

.workout-sets-repetitions__button-container {
  padding: 1rem;
}

.workout-sets-repetitions__form {
  width: 100%;
}

.workout-sets-repetitions__form-input {
  height: 100%;
  width: 100%;
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
}

.workout-sets-repetitions__sets-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(147px, 1fr));
  gap: 1rem;
}

.workout-sets-repetitions__set {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: var(--bg-level-card);
  padding: 0.25rem;
  border-radius: $border-radius-button;
  @include standard-border;
}

.workout-sets-repetitions__set-count {
  font-weight: $font-norm;
  color: var(--fg-level-1);
}

.workout-sets-repetitions__set-amount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  //border: 1px solid var(--fg-base);
  border-radius: $border-radius-button;
  margin: 0 0.5rem 0 1rem;
  flex-grow: 1;
  font-size: large;
}

.workout-sets-repetitions__set-button {
  background-color: var(--fg-lighter);

  color: var(--ac-button-active);

  &:hover {
    color: var(--fg-dang);
  }
}
