.workout-sets__container {
  @include gap-size;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.workout-sets__cards {
}

.workout-sets__body {
  @include standard-padding;
}

.workout-sets__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .workout-sets__header-text {
  }
  .workout-sets__header-title {
    font-size: 18px;
    color: var(--foreground-text);
  }
  .workout-sets__header-type {
    font-size: 16px;
    font-weight: $font-slim;
    color: var(--foreground-mute);
  }
}
.workout-sets__header-button {
  margin: 1rem 0;
  width: 100%;
}

.workout-sets-repetitions {
}

.workout-sets-repetitions__buttons-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-column-gap: 1rem;
}

.workout-sets-repetitions__button-container {
  height: 65px;
  padding: 1rem;
}

.workout-sets-repetitions__form {
  width: 100%;
}

.workout-sets-repetitions__form-input {
  @include standard-border;
  @include standard-shadow;
  background-color: var(--background-form) !important;
  color: var(--foreground-acce) !important;
  height: 100%;
  width: 100%;
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
}

.workout-sets-repetitions__sets-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(147px, 1fr));
  gap: 1rem;
}

.workout-sets-repetitions__set {
  @include basic-border;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: $line-height;
  padding: 0.25rem 0.5rem;
}

.workout-sets-repetitions__set-count {
  font-weight: $font-norm;
  color: var(--foreground-text);
}

.workout-sets-repetitions__set-amount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--foreground-acce);
  font-size: large;
}

.workout-sets-repetitions__set-button {
  color: var(--foreground-prim);

  &:hover {
    color: var(--bs-danger);
  }
}
