.workout-exercises__group {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 0.5rem;
}
.workout-exercises__exercise {
  @include button-border;
  @include empty-base-color;
  padding: 0.5rem;

  color: var(--foreground-text);

  h5 {
    color: inherit;
    font-weight: $font-norm;
    font-size: 14px;
  }
  h6 {
    color: var(--foreground-mute);
    font-weight: $font-slim;
    font-size: 13px;
  }
}
