.list-exercises__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
}

.list-exercise__card {
  @include button-border;
  @include empty-base-color;

  color: var(--foreground-text);
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-exercise__image {
}

.list-exercise__text-container {
}
