.list-exercises__container {
  @include gap-size;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin-bottom: 1rem;
}

.list-exercise__card {
  @include default-button;

  color: var(--foreground-text);
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-exercise__image {
  @include standard-image;
}

.list-exercise__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;

  .list-exercise__name {
    color: $foreground-primary;
    font-weight: $font-bold;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 110px;
  }

  .list-exercise__area {
    color: $foreground-accent;
    font-weight: $font-norm;
  }

  .list-exercise__type {
    color: $foreground-mute;
    font-weight: $font-slim;
  }
}
