.user-options__button-group {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.user-options__button-group button {
  font-size: 14px;
  font-weight: $font-weight-button;
  width: 100%;
  border-radius: $border-radius-button;
  color: var(--fg-text);
}

.user-clicked {
  background-color: rgba(lightgrey, 0.6) !important;
}

.user-options__button-group button:focus {
  box-shadow: none;
}
