.add-workout__container {
  display: flex;
  flex-direction: row;
}

.no-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add_workout__item {
  flex-grow: 1;
  flex-basis: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 600px) {
  .add-workout__container {
    gap: 0.5rem;
  }
}
