.list-workouts {
  margin-bottom: 1rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  .list-workouts {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
}

.list-workouts__workout {
  border-radius: $border-radius-image !important;
  justify-content: space-between;
}

.list-workouts__workout-image {
  @include standard-image;
  z-index: 2;
  margin-right: 1rem;

  :hover > & {
    background-color: var(--fg-acce) !important;
  }
}

.list-workouts__workout-card {
  padding: 0.5rem;

  &:hover {
    background-color: var(--fg-base);
    color: var(--bg-card);
  }
}

.list-workouts__workout-body {
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start;
  padding: 0;
}

.list-workouts__workout-text {
  margin-top: 1rem;
  h5 {
    color: inherit;
  }
  h6 {
    color: inherit;
    font-weight: $font-norm;
  }
}
