.list-workouts {
  @include gap-size;
  margin-bottom: 1rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.list-workouts__workout {
  border-radius: $border-radius-image !important;
  justify-content: space-between;
  background-color: var(--background-card);
  color: var(--foreground-text);
}

.list-workouts__workout-image {
  @include standard-image;
  z-index: 2;
  margin-right: 1rem;
  width: 45px !important;
}

.list-workouts__workout-card {
  color: $foreground-text;
  border: $border-bg-prim;
  border-radius: $border-radius;
  height: 100%;
  padding: 0.5rem;

  &:hover {
    border: $border-fg-prim;
  }
  &:active {
    background-color: $foreground-primary;
    color: $background-card !important;
  }
}

.list-workouts__workout-body {
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start;
  padding: 0;
}

.list-workouts__workout-text {
  width: 150px;
  h5 {
    color: inherit;
  }
  h6 {
    color: inherit;
    font-weight: $font-norm;
  }
}

.list-workouts__workout-stat {
  color: $foreground-accent;
  font-weight: $font-bold;

  &:has(:active) {
    color: inherit;
  }
}

.list-workouts__workout-name {
  display: flex;
  justify-content: space-between;
  font-weight: $font-slim;
}
