.dashboard__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.quickActions {
  grid-area: quickActions;
}

.statsBasic {
  grid-area: statsBasic;
}

.lastWorkout {
  grid-area: lastWorkout;
}

.statsArea {
  grid-area: statsArea;
}

.chartActivity {
  grid-area: chartActivity;
}

.topExercises {
  grid-area: topExercises;
}

@media screen and (min-width: 1200px) {

  .dashboard__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(125px, auto) 1fr;
    gap: 1rem 1rem;
    grid-auto-flow: row;
    grid-template-areas:
    "quickActions quickActions lastWorkout lastWorkout"
    "statsBasic statsBasic statsArea statsArea"
    "chartActivity chartActivity topExercises topExercises"
  }

}


@media screen and (min-width: 1600px) {

  .dashboard__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(200px, auto) 1fr;
    gap: 1rem 1rem;
    grid-auto-flow: row;
    grid-template-areas:
    "quickActions statsBasic lastWorkout statsArea"
    "chartActivity chartActivity topExercises topExercises"
  }

}


.dashboard__chart-dropdown {
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  z-index: 2;
}

.dashboard__chart-dropdown-menu {
  @include button-border;
  @include card-base-color;
  padding: 0.5rem 0.5rem;

  color: var(--foreground-text);

  border-radius: $border-radius-button;

  &:focus-visible {
    outline: none;
  }
}

.dashboard__table-dropdown {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.dashboard__table-dropdown-menu {
  @include button-border;
  @include card-base-color;
  padding: 0.5rem 0.25rem;

  color: var(--foreground-text);

  border-radius: $border-radius-button;

  &:not(:last-child) {
    margin-right: 0.5rem;
  }

  &:focus-visible {
    outline: none;
  }
}
