.dashboard__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.dashboard__chart-dropdown {
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  z-index: 2;
}

.dashboard__chart-dropdown-menu {
  @include button-border;
  @include card-base-color;
  padding: 0.5rem 0.5rem;

  color: var(--foreground-text);

  border-radius: $border-radius-button;

  &:focus-visible {
    outline: none;
  }
}

.dashboard__table-dropdown {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.dashboard__table-dropdown-menu {
  @include button-border;
  @include card-base-color;
  padding: 0.5rem 0.25rem;

  color: var(--foreground-text);

  border-radius: $border-radius-button;

  &:not(:last-child) {
    margin-right: 0.5rem;
  }

  &:focus-visible {
    outline: none;
  }
}
