.no-background {
  background: none;
}

.no-background-border {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.no-border {
  border: none !important;
}

.relative-block {
  display: block;
  position: relative;
}

.basic-bar {
  border: none;
  width: 100%;
  background-color: $foreground-primary;
  opacity: 1;
  height: 1px;
}

.modal-content {
  border: none;
}
