.no-background {
  background: none;
}

.no-background-border {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.relative-block {
  display: block;
  position: relative;
}
