.add-exercise {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-exercise__title {
}

.add-exercise__input:not(:last-child) {
  margin-bottom: 0.5rem;
}

.add-exercise__area-container {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  gap: 1rem;
}

.add-exercise__goal-input {
  width: 90%;
}

.add-exercise__area-container input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.add-exercise__image {
  border: 2px solid rgba(var(--fg-acce-rgb), 0.4);
  border-radius: $border-radius-button;
  max-width: 75px;
  padding: 0.5rem;
  background-color: var(--bg-main);
}

.add-exercise__area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-exercise__image:hover {
  background-color: rgba(var(--fg-acce-rgb), 0.6);
}

.add-exercise__area-container input:checked + .add-exercise__image {
  border: 2px solid rgba(var(--fg-acce-rgb), 0.6);
  background-color: rgba(var(--fg-acce-rgb), 0.4);
}
