.exercises {
  @include gap-size;
  display: flex;
  flex-wrap: wrap;
}

.exercises-row {
  @include gap-size;
  display: flex;
  flex-direction: row;

  & > * {
    width: 50%;
  }
}

.exercises-col {
  @include gap-size;

  display: flex;
  flex-wrap: wrap;

  & > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: $breakpoint-xx) {
}

@media screen and (max-width: $breakpoint-xl) {
}

@media screen and (max-width: $breakpoint-lg) {
  .exercises-row {
    flex-direction: column;

    & > * {
      width: 100%;
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
}

@media screen and (max-width: $breakpoint-sm) {
}

@media screen and (max-width: $breakpoint-xs) {
}

.stretch-card {
  display: flex;
  align-items: stretch;
  justify-content: stretch;

  & > * {
    width: 100%;
    min-width: 100%;
  }
}

#cardio-image {
  content: url(../../../public/cardio.png);
}

#upper-image {
  content: url(../../../public/upper.png);
}

#lower-image {
  content: url(../../../public/lower.png);
}

#core-image {
  content: url(../../../public/core.png);
}

#repetitions-image {
  content: url(../../../public/repetitions.png);
}

#duration-image {
  content: url(../../../public/duration.png);
}
