.exercises-container {
}

#cardio-image {
  content: url(../../../public/cardio.png);
}

#upper-image {
  content: url(../../../public/upper.png);
}

#lower-image {
  content: url(../../../public/lower.png);
}

#core-image {
  content: url(../../../public/core.png);
}
