.list-exercises__direction-icon {
  color: var(--fg-main);
}

#direction-toggle {
  display: none;
}

.list-exercises__toggle {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.list-exercises__direction {
  color: var(--fg-main);
  width: 24px;
}

#label-direction-toggle {
  border-radius: $border-radius-button;
  padding: 0.3rem 0.3rem;
  background-color: rgba($color: $accent-color, $alpha: 0.2);
}

#label-direction-toggle:hover {
  background-color: rgba($color: $accent-color, $alpha: 0.6);
}

.list-exercises__add-button {
  @include icon-button;
  margin-left: 1rem;
}

.list-exercises__search {
  padding-left: 0.5rem;
  color: var(--fg-main) !important;
  max-width: 304px;
  border-radius: $border-radius-button;
  background-color: var(--bg-main);
  border: none !important;
}

.list-exercises__search::placeholder {
  color: var(--fg-main);
  font-family: $font-family;
}

@media screen and (min-width: 521px) {
  .list-exercises__search {
    width: 304px;
  }
}

@media screen and (max-width: 520px) {
  .list-exercises__search {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    width: 148px;
  }
}

input[type="text"]:focus {
  outline-color: rgba($accent-color, 1);
  outline-style: solid;
}

.list-exercises hr {
  color: rgba($accent-color, 0.5);
}

th {
  color: var(--fg-main);
  font-weight: 500;
  border: none;
}

td {
  border: none;
}

table {
  border-collapse: separate;
  border-spacing: 0 5px;
  margin-bottom: 0 !important;
}

.list-exercise__table {
  tr {
    border-radius: $border-radius-card;
    margin: 0.25rem;
  }

  tr td:first-child {
    border-top-left-radius: $border-radius-card;
    border-bottom-left-radius: $border-radius-card;
  }

  tr td:last-child {
    border-top-right-radius: $border-radius-card;
    border-bottom-right-radius: $border-radius-card;
  }

  tr:hover td {
    color: var(--fg-main);
  }

  #Upper {
    background-color: $upper-light;
    border-radius: $border-radius-card;
  }
  #Upper:hover {
    background-color: $upper-active;
  }

  #Lower {
    background-color: $lower-light;
  }
  #Lower:hover {
    background-color: $lower-active;
  }

  #Core {
    background-color: $core-light;
  }
  #Core:hover {
    background-color: $core-active;
  }

  #Cardio {
    background-color: $cardio-light;
  }
  #Cardio:hover {
    background-color: $cardio-active;
  }
}

.list-exercises__button-group {
  display: flex;
  justify-content: center;
}

.button-group__button {
  @include icon-button;
  margin-top: 0.5rem;
}

#left-button {
  margin-right: 1rem;
}
#right-button {
  margin-left: 1rem;
}
