div[role="dialog"].light {
  .modal-content {
    background-color: var(--bs-white);
    color: var(--bs-gray-900);
  }

  .modal-title {
    color: var(--bs-gray-900);
  }

  .modal-header .button-close {
    color: var(--bs-gray-900);
  }

  .close-button {
    background-color: var(--bs-white);
    border: none;
  }
  .close-button-icon {
    color: var(--bs-gray-900);
    transform: rotate(45deg);
  }
  .close-button:hover {
    background-color: rgba($accent-color, 0.6);
  }

  .add-exercise__form {
    width: 100%;
    padding: 6px 12px;
    border-radius: $border-radius-button;
    background-color: var(--bs-gray-200);
    border: none;
    color: var(--bs-gray-900);
  }
}
div[role="dialog"].dark {
  .modal-content {
    background-color: var(--bs-gray-900);
    color: var(--bs-gray-100);
  }
  .modal-title {
    color: var(--bs-gray-100);
  }
  .close-button {
    background-color: inherit;
    border: none;
  }
  .close-button-icon {
    color: var(--bs-gray-100);
    transform: rotate(45deg);
  }
  .close-button:hover {
    background-color: rgba($accent-color, 0.6);
  }

  .add-exercise__form {
    width: 100%;
    padding: 6px 12px;
    border-radius: $border-radius-button;
    background-color: var(--bs-gray-800);
    border: none;
    color: var(--bs-white);
  }
  input[type="text"]:focus {
    outline-color: rgba($accent-color, 1);
    outline-style: solid;
  }
  input#inputname.add-exercise__form {
    background-color: var(--bs-gray-800) !important;
  }
}

.list-modal__form-label {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}

.add-exercise__add-button {
  background-color: rgba($accent-color, 0.2);
  border: none;
}

.add-exercise__add-button:hover {
  background-color: rgba($accent-color, 0.6);
}

.add-exercise__add-button:active {
  outline: none;
  border: none;
  box-shadow: none;
}

.add-exercise__add-button:disabled {
  visibility: hidden;
}
