.content-wrapper {
  margin-top: calc(51px + 3rem);
}

.center-page {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

// .page-container {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   min-height: 100vh;
//   background-color: var(--bg-main);
// }

// .page-body-wrapper {
//   min-height: 100vh;
//   height: 100%;
//   display: flex;
//   flex-direction: row;
//   background-color: aquamarine;
// }

// .page-content {
//   display: flex;
//   flex-grow: 1;
//   flex-direction: column;
//   height: 100%;
//   color: var(--fg-main);
//   margin-top: 50px;
//   background-color: var(--bg-main);
// }

// .page-content h1 {
//   color: var(--fg-main);
//   margin-bottom: 6px;
// }
