.page-container {
  background-color: var(--bg-main);
}

.page-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100vh;
  color: var(--fg-main);
}

.page-content h1 {
  padding: 1rem 0 1rem 1rem;
  color: var(--fg-main);
}

.row {
  --bs-gutter-x: 0;
}
