.profile__user {
}

.profile__user input {
  @include standard-form;
}

.profile__user p {
  display: flex;
  align-items: center;
}

.profile__user-form {
  display: flex;
  justify-content: space-between;
}

.profile__settings {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
}

.profile__settings-group {
  display: flex;
  justify-content: center;
}

.profile__settings-form {
}

#label-name,
#label-password {
  @include standard-button;
  display: flex;
  align-items: center;
  padding: 0.2rem 1rem;
}

#input-name,
#input-password,
#theme,
#weight,
#distance {
  display: none;
}

.profile-grid {
  display: flex;
  align-items: stretch;
}

.profile-stretch {
  align-items: stretch;
}

.profile-grid__card {
  flex: 50%;
  background-color: pink !important;
  height: 100%;
}

.label-theme {
  display: flex;
  height: 40px;
  width: 125px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 5px;
  border-radius: $border-radius-button;
  background-color: var(--bg-main);
  color: var(--fg-main);
}

#distance:checked + .label-theme .theme-slider {
  transform: translateX(65px) !important;
}
#weight:checked + .label-theme .theme-slider {
  transform: translateX(65px) !important;
}

#theme:checked + .label-theme .theme-slider {
  transform: translateX(65px) !important;
}

.label-theme .theme-slider {
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.slider-label-left {
  position: absolute;
  font-size: 13px;
  left: 15px;
  margin-right: 15px;
}

.slider-label-right {
  position: absolute;
  font-size: 13px;
  left: 65px;
  margin-left: 15px;
}

.light-mode::before {
  content: "Light";
}
.dark-mode::before {
  content: "Dark";
}

.lbs-mode {
  left: 22px;
}

.lbs-mode::before {
  content: "lbs";
}

.kg-mode {
  left: 73px;
}

.kg-mode::before {
  content: "kg";
}

.km-mode {
  left: 21px;
}

.km-mode::before {
  content: "km";
}

.mi-mode {
  left: 73px;
}
.mi-mode::before {
  content: "mi";
}

.theme-slider {
  position: absolute;
  width: 50px;
  height: 30px;
  background-color: var(--bg-card);
  box-shadow: $box-shadow;
  border-radius: $border-radius-button;
}
