.App {
}

a {
  text-decoration: none;
}

.bg-pink {
  background-color: pink !important;
}

.bg-blue {
  background-color: lightblue !important;
}

.bg-green {
  background-color: darkcyan !important;
}
