.page {
  background: var(--background-body);
}

.page-body__container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.page-header__header {
  font-size: 2rem;
  font-weight: $font-bold;
  color: var(--fg-level-0);
}

.page-header__subheader {
  font-size: 1.5rem;
  font-weight: $font-norm;
  color: var(--fg-mute);
}

.page-header__bar {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  border-top: 1px solid !important ;
}

.page-body {
  & > *:not(:last-child) {
  }
}

.center-page {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.navbar-page {
}

@media screen and (min-width: 800px) {
  .page-body__container {
    margin-left: 130px;
  }
}

@media screen and (min-width: 1000px) {
  .page-body__container {
    margin-left: 182px;
  }
}

@media screen and (max-width: 799px) {
  .page-body__container {
    margin-bottom: 80px;
  }
}
