.page {
  background-color: var(--bg-main);
  margin-bottom: 4rem;
}

.page-header__header {
  font-size: 2rem;
  font-weight: $font-bold;
}

.page-header__subheader {
  font-size: 1.5rem;
  font-weight: $font-norm;
  color: var(--fg-mute);
}

.page-header__bar {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  border-top: 1px solid !important ;
}

.page-body {
  & > *:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.center-page {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.navbar-page {
  margin-top: calc(51px + 1rem);
}

@media screen and (max-width: 431px) {
  .navbar-page {
    margin-top: 1rem;
  }
}
