.stretch-card {
  display: flex;
  align-items: stretch;
  justify-content: stretch;

  > .default-card,
  .card {
    width: 100%;
    min-width: 100%;
  }
}

hr {
  color: rgba($accent-color, 0.5);
}

.default-input {
  @include standard-form;
}

.time-input {
  width: 6ch;
}

.grid-margin {
  margin-bottom: 12px;
}

.grid-top {
  margin-top: 16px;
}

.row {
  --bs-gutter-x: 12px;
}

.justify-content-stretch {
  justify-content: stretch !important;
}

.pink {
  background-color: salmon;
}

.card-gradient {
  background: linear-gradient(
    180deg,
    #20b2aa,
    #25aaa7,
    #2e9197,
    #35707c,
    #35535f,
    #2e3c44,
    #252b31,
    #212529
  );
}

.profile-image {
  width: 25vw;
  height: 25vw;
  border-radius: calc(25vw / 2);
  object-fit: cover;
  border: 3px solid var(--fg-acce);
}

.frosted-glass {
  background-color: rgba(var(--fg-acce-rgb), 0.5);
  backdrop-filter: blur(5px);
}

.text-muted {
  color: var(--fg-mute) !important;
}

.btn-standard {
  background-color: rgba(var(--fg-acce-rgb), 0.2) !important;
  color: var(--fg-acce) !important;
}

.btn-outline {
  border-color: var(--fg-acce) !important;
  color: var(--fg-acce) !important;
}

.btn-standard:hover {
  background-color: rgba(var(--fg-acce-rgb), 0.6) !important;
  color: var(--fg-text) !important;
}

.btn-danger {
  background-color: rgba(var(--fg-dang-rgb), 0.2) !important;
  color: rgba(var(--fg-dang-rgb), 1) !important;
  border: none;
}
.btn-danger:hover {
  background-color: rgba(var(--fg-dang-rgb), 0.6) !important;
  color: var(--fg-text) !important;
}

.btn-outline-soft {
  border: 2px solid rgba(var(--fg-acce-rgb), 0.2);
}
.btn-outline-soft:hover {
  background-color: rgba(var(--fg-acce-rgb), 0.2);
  color: var(--fg-text);
}

.align-items-stretch {
  align-items: stretch;
}

.stretch-card {
  display: flex;
  justify-content: stretch;
  align-items: stretch;

  > .default-card {
    width: 100%;
    min-width: 100%;
  }
}

.margin-right {
  margin-right: 0.5rem;
}
.margin-left {
  margin-left: 0.5rem;
}
