$image-width: 75px;
$image-small-width: 60px;
$line-height: 43px;

/*        Background    */

/*        Border        */
// Standard Border
$border: var(--border);
$border-radius: 1rem;
$border-fg-prim: 1px solid var(--foreground-prim);
$border-bg-prim: 1px solid var(--background-prim);
$border-bg-mute: 1px solid var(--background-mute);
$border-acce: 1px solid var(--foreground-acce);

$border-radius-card: 1rem;
$border-radius-button: 0.5rem;
$border-radius-form: 0.25rem;
$border-radius-image: 1rem;

/*        Shadow        */
$box-shadow: none;

// Font
//$font-family: "Quicksand", sans-serif;
//$font-family: "Montserrat", sans-serif;
$font-family: "Gilroy", sans-serif;
$font-logo: "Days One", sans-serif;
$font-slim: 400;
$font-norm: 500;
$font-bold: 600;

$accent-color: lightskyblue;
$upper-color: #f08080;
$lower-color: lightskyblue;
$core-color: yellow;
$cardio-color: rgb(133, 204, 177);

$hover-accent: rgba($accent-color, 0.2);
$active-accent: rgba($accent-color, 0.9);

// Upper Body
$upper-light: rgba($upper-color, 0.3);
$upper-active: rgba($upper-color, 0.6);

// Lower Body
$lower-light: rgba($lower-color, 0.3);
$lower-active: rgba($lower-color, 0.6);
// Core Body
$core-light: rgba($core-color, 0.3);
$core-active: rgba($core-color, 0.6);
// Cardio Body
$cardio-light: rgba($cardio-color, 0.3);
$cardio-active: rgba($cardio-color, 0.6);
