// Colors

$accent-color: #20b2aa;

$upper-color: #f08080;
$lower-color: lightskyblue;
$core-color: yellow;
$cardio-color: rgb(133, 204, 177);

$hover-accent: rgba($accent-color, 0.2);
$active-accent: rgba($accent-color, 0.9);

// Upper Body
$upper-light: rgba($upper-color, 0.3);
$upper-active: rgba($upper-color, 0.6);

// Lower Body
$lower-light: rgba($lower-color, 0.3);
$lower-active: rgba($lower-color, 0.6);
// Core Body
$core-light: rgba($core-color, 0.3);
$core-active: rgba($core-color, 0.6);
// Cardio Body
$cardio-light: rgba($cardio-color, 0.3);
$cardio-active: rgba($cardio-color, 0.6);

// Border

$border-radius-button: 0.5rem;
$border-radius-card: 0.5rem;

// Box Shadow

$box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

// Font
$font-family: "Rubik", sans-serif;

$font-size-button: 0.875rem;
