.sections-card {
}

.sections-card__title {
  display: flex;
  justify-content: space-between;
}

.sections-card__button-group {
  display: grid;
  gap: 0.5rem;
  margin-right: 0;
}

@media screen and (min-width: 521px) {
  .sections-card__button-group {
    justify-content: end;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 520px) {
  .sections-card__button-group {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}

.sections-card__button-group label {
  @include activity-button;
  width: 70px;
}

.sections-card__button-group input {
  display: none;
}

.sections-card__button-group button:last-child {
  margin-right: 0;
}

#label-upper {
  @include activity($upper-color);
}

#button-upper:checked ~ #label-upper {
  background-color: $upper-active;
}

#label-lower {
  @include activity($lower-color);
}

#button-lower:checked ~ #label-lower {
  background-color: $lower-active;
}

#label-core {
  @include activity($core-color);
}

#button-core:checked ~ #label-core {
  background-color: $core-active;
}

#label-cardio {
  @include activity($cardio-color);
  margin-right: 0;
}

#button-cardio:checked ~ #label-cardio {
  background-color: $cardio-active;
}
