.navbar__page {
  @include standard-border;
  @include standard-shadow;

  z-index: 5;
  position: fixed;
  left: 1rem;

  display: flex;
  background-color: var(--background-card);

  padding: 0.5rem;
}

.navbar__logo {
  h1 {
    color: var(--foreground-acce);
    font-family: $font-logo !important;
    font-weight: 400;
  }
}

.navbar__items {
  display: flex;
}

.navbar-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-decoration: none !important;
}

.navbar__items a:active {
  border: 1px solid var(--foreground-prim) !important;
}

.navbar-item__active {
  border: 1px solid var(--ac-primary);
  color: var(--ac-primary);
}

.navbar-item__header {
  margin: 0;
  text-decoration: none !important;
  font-weight: $font-norm;
}

.navbar__logout {
  width: 100%;
}

@media screen and (max-width: 470px) {
  .navbar-item {
    width: auto !important;
    padding: 0.25rem 0.5rem;
  }
  .navbar-item__header {
    display: none;
  }
}

@media screen and (max-width: 799px) {
  .navbar__page {
    right: 0.5rem;
    left: 0.5rem;
    bottom: 0.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    padding: 0.25rem 0.5rem;
  }

  .navbar-title {
    font-size: larger;
    margin-left: 0.5rem;
  }
  .navbar__items {
    flex-direction: row;
  }

  .navbar-item {
    width: 86px;
    align-items: center;
    padding: 0.25rem 0.5rem;
  }
  .navbar-item:last-child {
    margin-right: 0;
  }
  .navbar-item__header {
    font-size: small;
  }
  .navbar__logout {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .navbar__page {
    top: 1rem;
    bottom: 1rem;
    flex-direction: column;
    align-items: center;
    color: var(--fg-main);
    border-radius: 1rem;
    justify-content: space-between;
    @include standard-border;
    padding: 0.5rem;
  }

  .navbar__items {
    flex-direction: column;
  }

  .navbar-item {
    padding: 0.5rem;
  }
}

@media screen and (min-width: 800px) and (max-width: 999px) {
  .navbar__page {
  }

  .navbar-title__container {
    .navbar-title {
      font-size: 1.25rem;
    }
  }

  .navbar-item {
    margin-bottom: 1rem;
    align-items: center;
  }
  .navbar-item:last-child {
    margin-bottom: 0;
  }

  .navbar-item__header {
    font-size: small;
  }

  .navbar__logout-text {
    //display: none;
  }
}

@media screen and (min-width: 1000px) {
  .navbar__page {
    width: calc(150px + 1rem);
  }

  .navbar-item__header {
    margin-top: 1px;
    margin-left: 0.5rem;
  }

  .navbar-item {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem;
    align-items: center;
    height: 100%;
    margin-bottom: 1rem;
  }

  .navbar-item:last-child {
    margin-bottom: 0;
  }
}
