.workout-calendar {
  .react-calendar__tile:hover {
    background-color: rgba(var(--fg-acce-rgb), 0.3);
  }
  .react-calendar__tile--active {
    background-color: rgba(var(--fg-acce-rgb), 1);
    color: var(--bg-main);
  }
}

.workout-calendar button {
  background: none;
  box-shadow: none;
  border: none;
  color: var(--fg-text);
  text-align: center;
  border-radius: 0.25rem;
}

.workout-calendar button:hover {
  background-color: var(--fg-acce-rgb);
}

.workout-calendar div {
  text-align: center;
}

.workouts__workout-type-group {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.workouts__workout-type-group button {
  width: 100%;
  background-color: rgba(var(--fg-acce-rgb), 0.3);
  border: none;
  border-radius: $border-radius-button;
  color: var(--fg-text);
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.workouts__workout-type-group button:hover {
  background-color: rgba(var(--fg-acce-rgb), 0.6);
}

.workouts__workout-type-group button:not(:last-child) {
  margin-right: 1rem;
}

.workouts__workout-type-group img {
  margin-bottom: 0.5rem;
  max-width: 100px;
}

.workout-list__item {
  display: flex;
  flex-direction: row;
  border-radius: $border-radius-button;
}

.workout-list__item:hover {
  background-color: rgba(var(--fg-acce-rgb), 0.3);
}

.workout-list__margins:not(:last-child) {
  margin-bottom: 0.5rem;
}

.workout-list__image {
  max-width: 60px;
  border: 2px solid rgba(var(--fg-acce-rgb), 0.6);
  border-radius: $border-radius-button;
}

.workout-list__text {
  margin-left: 0.5rem;
}
