input[type="text"]:focus {
  outline-color: rgba(var(--fg-acce-rgb), 1);
  outline-style: solid;
}

.list-exercises__display {
}

.list-exercise__card {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.list-exercise__card:hover {
  background-color: rgba(var(--fg-acce-rgb), 0.2);
  border-radius: $border-radius-button;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.list-exercise__image {
  max-width: 70px;
  border: 2px solid rgba(var(--fg-acce-rgb), 0.6);
  border-radius: $border-radius-button;
  margin-right: 0.5rem;
  padding: 0.25rem;
}

.list-exercises hr {
  color: rgba(var(--fg-acce-rgb), 0.5);
}

th {
  color: var(--fg-main);
  font-weight: 500;
  border: none;
}

td {
  border: none;
  color: var(--fg-main);
}

table {
  border-collapse: separate;
  border-spacing: 0 5px;
  margin-bottom: 0 !important;
}

.list-exercise__table {
  tr {
    border-radius: $border-radius-card;
    margin: 0.25rem;
  }

  tr td:first-child {
    border-top-left-radius: $border-radius-card;
    border-bottom-left-radius: $border-radius-card;
  }

  tr td:last-child {
    border-top-right-radius: $border-radius-card;
    border-bottom-right-radius: $border-radius-card;
  }

  tr:hover td {
    color: var(--fg-main);
  }

  #Upper {
    background-color: $upper-light;
    border-radius: $border-radius-card;
  }
  #Upper:hover {
    background-color: $upper-active;
  }

  #Lower {
    background-color: $lower-light;
  }
  #Lower:hover {
    background-color: $lower-active;
  }

  #Core {
    background-color: $core-light;
  }
  #Core:hover {
    background-color: $core-active;
  }

  #Cardio {
    background-color: $cardio-light;
  }
  #Cardio:hover {
    background-color: $cardio-active;
  }
}

.list-exercises__button-group {
  display: flex;
  justify-content: center;
}

.button-group__button {
  @include icon-button;
  color: var(--fg-main);
  margin-top: 0.5rem;
}

#left-button {
  margin-right: 1rem;
}
#right-button {
  margin-left: 1rem;
}
