.dashboard__goals {
  width: 100%;
}

.dashboard__goal {
  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.dashboard__goals-progress {
  position: relative;
}

.dashboard__goals-progress-bar {
  background-color: var(--background-prim);
}

.dashboard__goals-stats {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--foreground-prim);

  .active & {
    background-color: var(--bs-success);
    color: var(--background-card);
  }
}
