.dashboard__last-workout-items {
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;

  .item {
    &:not(:last-child) {
      width: 100%;
      margin-right: 0.5rem;
    }
  }
}

@media screen and (max-width: 350px) {
  .dashboard__last-workout-items {
    display: flex;
    flex-direction: column;

    & > *:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}
