.dashboard__quick-actions {
  height: 100%;
  .button-size {
    width: 90px;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}

.dashboard__quick-actions-buttons {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 350px) {
  .dashboard__quick-actions-buttons {
    display: flex;
    flex-direction: column;

    & > *:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}
