.top-exercises__container {
  margin-top: 0.75rem;
  width: 100%;
}

.top-exercises__headers {
  border-bottom: 1px solid var(--foreground-acce);
  th {
    font-size: 14px;
    text-align: center;
    color: var(--foreground-acce);
  }
}

.top-exercises__exercise {
  font-weight: $font-bold !important;
}

.top-exercises__item {
  border-bottom: 1px solid var(--background-acce);

  @include empty-base-color;

  color: var(--foreground-text);

  td {
    padding: 0.5rem;
    text-align: center;
    font-size: 13px;
    font-weight: $font-norm;
  }

  h4 {
    font-size: 14px;
    font-weight: $font-norm;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  h5 {
    font-size: 13px;
    font-weight: $font-norm;
  }
}
