.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card__image {
  width: 6rem;
  height: 6rem;
  border: 3px solid var(--fg-color-600);
  border-radius: $border-radius-card;
  object-fit: fill;
  padding: 1rem;
  margin-bottom: 1rem;
}

.logout-button {
  height: 100%;
  width: 190px;
}
