:root {
  /* new color scheme starts*/
  --bg-level-0: #fbfbff;
  --bg-level-1: #e5e5e5;
  --bg-level-2: #f2f2f2;
  --bg-level-card: #ffffff;
  --bg-level-button: #ffffff;

  --fg-level-0: #0c0c0c;
  --fg-level-1: #191919;
  --fg-level-mute: #666666;
  --fg-text-acce: #20405f;

  --ac-primary: #3474e0;
  --ac-faded: #3474e026;

  --ac-button-hover: #cce0fe;
  --ac-button-active: #4791ff;
  --ac-level-0: #708090;
  --ac-level-1: #4080bf;

  /* new color scheme end */

  --bg-main: #dddddd;
  --bg-button: #eeeeee;
  --bg-card: #ffffff;
  --fg-text: #1c1c1c;
  --fg-mute: #6b6b6b;
  --fg-main: #111111;
  /*--fg-acce: #6aa5ff;
  */
  --fg-dang: darkred;
  --bg-main-rgb: 248, 249, 250;
  --bg-card-rgb: 250, 250, 250;
  --fg-main-rgb: 33, 37, 41;
  --fg-dang-rgb: 139, 0, 0;

  --fg-color-400: #99c2ff;
  --fg-color-500: #6aa5ff;
  --fg-color-600: #5c9dff;
  --fg-color-700: #3385ff;

  --fg-base: #5c9dff;
  --fg-light: #c2d5f2;
  --fg-lighter: #e0eaf8;
  --fg-acce: #708090;

  --fg-acce-rgb: 112, 128, 144;

  --fg-filter-text: none;
}
[data-theme="dark"] {
  /* new color scheme starts */
  --bg-level-0: #121212;
  --bg-level-1: #292929;
  --bg-level-2: #333333;
  --bg-level-card: #353535;

  --fg-level-0: #f2f2f2;
  --fg-level-1: #e5e5e5;
  --fg-level-mute: #919191;
  --fg-text-acce: #9fbfdf;

  --ac-button-hover: #0041a3;
  --ac-button-active: #0049b7;

  --ac-level-0: #708090;
  --ac-level-1: #4080bf;

  /* new color scheme ends */

  --bg-main: #202020;
  --bg-button: #212121;
  --bg-card: #313131;
  --fg-text: #e3e3e3;
  --fg-mute: #acacac;
  --fg-main: #ffffff;

  --fg-dang: firebrick;
  --bg-main-rgb: 52, 58, 64;
  --bg-card-rgb: 33, 37, 41;
  --fg-main-rgb: 248, 249, 250;
  --fg-acce-rgb: 135, 206, 250;
  --fg-dang-rgb: 178, 34, 34;

  --fg-filter-text: invert(99%) sepia(0%) saturate(4806%) hue-rotate(217deg)
    brightness(118%) contrast(78%);

  --fg-base: #3385ff;
  --fg-light: #5c9dff;
  --fg-lighter: darkslateblue;
}

div[role="dialog"] [data-theme="dark"] {
  background-color: var(--bs-gray-900);
}

/*
:root {
  --bg-main: #eeeeee;
  --bg-card: #fff;
  --fg-main: #212529;
  --fg-acce: lightseagreen;
  --bg-main-rgb: 248, 249, 250;
  --bg-card-rgb: 250, 250, 250;
  --fg-main-rgb: 33, 37, 41;
  --fg-acce-rgb: 32, 178, 170;
}
[data-theme="dark"] {
  --bg-main: #343a40;
  --bg-card: #212529;
  --fg-main: #eeeeee;
  --fg-acce: lightseagreen;
  --bg-main-rgb: 52, 58, 64;
  --bg-card-rgb: 33, 37, 41;
  --fg-main-rgb: 248, 249, 250;
  --fg-acce-rgb: 32, 178, 170;
}

*/
