@mixin standard-border-radius {
  border-radius: $large-gap;

  @media (max-width: $breakpoint-lg) {
    border-radius: $small-gap;
  }
}

@mixin standard-border {
  border: $border;
}

@mixin standard-shadow {
  box-shadow: $box-shadow;
}

// @mixin standard-shadow {
//   -webkit-box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
//     0 1px 3px 1px rgb(60 64 67 / 15%);
//   box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
// }

@mixin button-border {
  @include standard-border-radius;
  border: $border-bg-prim;
}

@mixin basic-border {
  border: $border-bg-mute;
  border-radius: $border-radius;
}
