@mixin light-base-color {
  background-color: var(--ac-primary) !important;
  color: var(--bg-level-card) !important;

  &:hover {
    background-color: var(--ac-primary) !important;
    color: var(--foreground-text) !important;
    border-color: var(--ac-primary) !important;
  }
  &:active {
    background-color: var(--ac-primary) !important;
    color: var(--bg-level-card) !important;
  }

  &:disabled {
    border-color: var(--ac-faded) !important;
    background-color: var(--ac-faded) !important;
    color: var(--bg-level-card) !important;
  }
}

@mixin card-base-color {
  background-color: var(--background-card);
  color: var(--foreground-text);

  &:hover {
    background-color: var(--background-prim);
    color: var(--foreground-text);
  }

  &:active {
    background-color: var(--ac-primary) !important;
    color: var(--bg-card) !important;
  }

  &:disabled {
    background-color: var(--bg-level-1);
    color: var(--bs-gray-500);
  }
}

@mixin empty-base-color {
  background-color: inherit;
  color: inherit;

  &:hover {
    background-color: var(--background-prim);
    color: var(--foreground-text);
  }

  &:active {
    background-color: var(--foreground-prim) !important;
    color: var(--background-card) !important;
  }

  &:disabled {
    background-color: var(--bg-level-1);
    color: var(--bs-gray-500);
  }
}
