@mixin default-button {
  @include standard-border-radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border: none;
  gap: 0.5rem;
  min-height: $line-height;

  color: var(--foreground-prim);
  border: 1px solid var(--background-prim);
  background-color: var(--background-card);

  &:hover:enabled {
    border: 1px solid var(--foreground-prim);
  }
  &:active:enabled {
    background-color: var(--foreground-prim);
    color: var(--background-body);
  }

  //background-color: inherit;
}
