@mixin standard-image {
  @include standard-padding;
  @include standard-border-radius;
  width: $image-width;

  background-color: var(--background-prim) !important;

  @media screen and (max-width: 500px) {
    width: $image-small-width;
  }
}

@mixin button-image {
  @include standard-padding;
  @include standard-border-radius;
  width: $image-width;

  @media screen and (max-width: 500px) {
    width: $image-small-width;
  }
}
