@mixin standard-padding {
  padding: 1rem;

  @media screen and (max-width: $breakpoint-lg) {
    padding: 0.5rem;
  }
}

@mixin gap-size {
  gap: $large-gap;

  @media screen and (max-width: $breakpoint-lg) {
    gap: $small-gap;
  }
}
