.profile-settings-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.profile-settings__button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-settings__form-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-accordion {
  //@include standard-border;

  .accordion-button {
    @include button-border;
    background-color: var(--background-body);
    font-size: 1.25rem;
    font-weight: $font-bold;
    color: var(--foreground-text);

    &:focus {
      @include button-border;
      box-shadow: none;
    }

    &:hover {
      border: $border-fg-prim;
      color: $foreground-primary;
    }

    &:active {
      @include button-border;
      color: $background-card;
      background-color: $foreground-primary;
    }

    &.collapsed {
      border-radius: $border-radius !important;
    }

    &:not(.collapsed) {
      color: var(--foreground-text);
      background-color: var(--background-body);
      box-shadow: none !important;

      &:hover {
        color: $foreground-primary;
        border: $border-fg-prim;
      }
      &:active {
        background-color: var(--foreground-prim);
        color: $background-card;
      }
    }
    &::after {
      filter: var(--foreground-filter-arrow) !important;
      border-radius: 0;
    }
  }

  .accordion-item {
    border: none;
    border-radius: $border-radius;
    background-color: inherit !important;

    &:first-of-type .accordion-button {
      border-radius: $border-radius;
    }
  }

  .accordion-head {
  }

  .accordion-body {
    background-color: var(--background-body);
    padding: $large-gap 0;
  }

  @media screen and (max-width: $breakpoint-lg) {
    .accordion-body {
      padding: $small-gap 0;
    }
  }
}
