.profile-hero {
  //box-shadow: $box-shadow;
  //background-color: var(--bg-card);
}

.profile-hero__title {
  text-transform: uppercase;
  font-size: 7.5vw;
  color: var(--fg-text);
  font-weight: 500;
}

.profile-hero__subtitle {
  color: var(--fg-text);
  font-size: 3.5vw;
  margin-bottom: 1rem;
}

@media screen and (max-width: 600px) {
  .profile-hero__title {
    font-size: 2rem;
  }

  .profile-hero__subtitle {
    font-size: 1.5rem;
  }
}

.label-theme {
  display: flex;
  height: 40px;
  width: 125px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 5px;
  border-radius: $border-radius-button;
  background-color: var(--bg-level-1);
  color: var(--fg-main);
}

#distance:checked + .label-theme .theme-slider {
  transform: translateX(65px) !important;
}
#weight:checked + .label-theme .theme-slider {
  transform: translateX(65px) !important;
}

#theme:checked + .label-theme .theme-slider {
  transform: translateX(65px) !important;
}

.slider-label-left {
  position: absolute;
  font-size: 13px;
  left: 15px;
  margin-right: 15px;
}

.slider-label-right {
  position: absolute;
  font-size: 13px;
  left: 65px;
  margin-left: 15px;
}

.label-theme .theme-slider {
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

#input-name,
#input-password,
#theme,
#weight,
#distance {
  display: none;
}

.theme-slider {
  position: absolute;
  width: 50px;
  height: 30px;
  background-color: var(--bg-level-card);
  color: var(--bg-card) !important;
  //box-shadow: $box-shadow;
  border-radius: $border-radius-button;
  box-shadow: $box-shadow;
}
.light-mode::before {
  content: "Light";
}
.dark-mode::before {
  content: "Dark";
}

.lbs-mode {
  left: 22px;
}

.lbs-mode::before {
  content: "lbs";
}

.kg-mode {
  left: 73px;
}

.kg-mode::before {
  content: "kg";
}

.km-mode {
  left: 21px;
}

.km-mode::before {
  content: "km";
}

.mi-mode {
  left: 73px;
}
.mi-mode::before {
  content: "mi";
}
